#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

input {
  height: 40px;
  box-sizing: border-box;
  padding: 8px 12px;
  border: 1px solid skyblue;
  border-radius: 6px;
  outline: none;
  background-color: white;
  color: #333;
  cursor: pointer;
  transition: border-color 0.2s;
  font-size: 15px;
  margin-right: 10px;
}

input:focus {
  border-color: skyblue;
}

input::placeholder {
  font-size: 15px;
}

select {
  height: 40px;
  box-sizing: border-box;
  padding: 8px 12px;
  font-size: 15px;
  border: 1px solid skyblue;
  border-radius: 6px;
  background-color: white;
  color: #333;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
  transition: border-color 0.2s;
}

select:focus {
  border-color: skyblue;
}

button {
  background-color: skyblue;
  margin-left: 4px;
  color: white;
}

label {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-right: 10px;
  background-color: skyblue;
  margin-left: 4px;
  color: white;
  padding: 9px 10px;
  border-radius: 7px;
}

label input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: white;
  cursor: pointer;
}
