/* 전역 스타일 */
body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

#root,
#root > div {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
